.url-container {
	border-bottom: 1px solid #00d3bb;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 5px;
}

.enter-url-label {
	color: var(--ion-color-medium);
	font-style: italic;
	padding-left: 20px;
	padding-right: 20px;
}
