/* Keep sections ordered alphabetically to avoid chaos */

/* Borders */
.border-top-1px-lightmedium {
	border-top: 1px solid var(--ion-color-lightmedium);
}

/* Color */
.color-gold {
	color: var(--dietwise-gold);
}
.color-medium {
	color: var(--ion-color-medium);
}

/* Dimension utilities */
.min-width-64px {
	min-width: 64px;
}

/* Flext extras */
.gap-10px {
	gap: 10px;
}

.gap-5px {
	gap: 5px;
}

/* Overflow */
.overflow-hidden {
	overflow: hidden;
}

/* Text utilities */
.text-bold {
	font-weight: bold;
}

.text-overflow-ellipsis {
	text-overflow: ellipsis;
}

.text-pre-wrap {
	white-space: pre-wrap;
}

.text-strikethrough {
	text-decoration: line-through;
}

/* ********** OTHER ************* */
.moto {
	color: var(--ion-color-medium);
	text-align: center;
	font-size: 90%;
}
