/* Keep sections ordered alphabetically to avoid chaos */

/* Dimension utilities */
.min-width-64px {
	min-width: 64px;
}

/* Overflow */
.overflow-hidden {
	overflow: hidden;
}

/* Text utilities */
.text-overflow-ellipsis {
	text-overflow: ellipsis;
}

.text-pre-wrap {
	white-space: pre-wrap;
}
