iosdevice {
    min-height: 900px;
    max-height: 900px;
    height: 900px;
    border: 12px solid black;
    border-radius: 12px;
    border: 12px solid black;
    border-radius: 12px;
    min-width: 450px;
    max-width: 450px;
    width: 450px;
}
iosdevice > div > div:first-child {
    background: url('assets/mobile-deco.png');
    background-position: top;
    background-repeat: no-repeat;
}
